body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Search bar */
.search-bar-container{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    -ms-flex-wrap: wrap;
    align-items: stretch;
    height: 24px;
}

/* Buttons */
button {
    cursor: pointer;
}


/* Results */
#results {
    width: 100%;
    max-width: 800px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

img {
    max-width: 100px;
}

/*Style for highlighted listings */
.highlighted-ad {
    background-color: #23E5DB;
    position: relative;
    color: black;
    font-weight: bold;
}


